@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600;900&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", serif;
  font-size: clamp(0.4rem, 0.4vw + 0.25vh, 2rem);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

button {
  cursor: pointer;
  background: hsl(356, 70%, 53%);
  border-radius: 2rem;
  font-family: unset;
  text-align: unset;
  padding: 1rem 1.5rem 0.6rem;
  border: 0.2rem solid hsl(356deg 70% 40%);
  outline: 0.3rem solid hsl(0deg 0% 100% / 55%);
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: inset 1px 1px 0px rgb(255 255 255 / 10%),
    inset 0px -1px 0px rgb(255 255 255 / 7%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bold;
}
