@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600;900&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", serif;
  font-size: clamp(0.4rem, 0.4vw + 0.25vh, 2rem);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

button {
  cursor: pointer;
  background: hsl(356, 70%, 53%);
  border-radius: 2rem;
  font-family: unset;
  text-align: unset;
  padding: 1rem 1.5rem 0.6rem;
  border: 0.2rem solid hsl(356deg 70% 40%);
  outline: 0.3rem solid hsl(0deg 0% 100% / 55%);
}

button:active, button:hover, button:focus{
  filter: brightness(1.2);
}

::-webkit-scrollbar {
  width: 1.2rem !important;
  background: hsl(195, 80%, 40%);
  border-radius: 10rem;
  outline: 0.2rem solid hsl(0deg 0% 0% / 13%);
  outline-offset: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10rem;
}

::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bold;
}
