@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600;900&display=swap");

* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Spartan", serif;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

p {
	font-size: 1rem;
}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 3rem;
	font-weight: normal;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

@media (min-width: 2560px) {
	html {
		font-size: 15px;
	}
}
@media (max-width: 2560px) {
	html {
		font-size: 11px;
	}
}
@media (max-width: 1440px) {
	html {
		font-size: 7px;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 6.5px;
	}
}
@media (max-width: 425px) {
	html {
		font-size: 6px;
	}
}

buttom {
	cursor: pointer;
}
